<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">

	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--  styles -->
	<link href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/responsive-nav.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/tables.css" rel="stylesheet">
	<script src="{{ site.BASE_PATH }}/assets/js/responsive-nav.js"></script>




	<!-- Pure Grid -->
	<!-- <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/grids-core-min.css"> -->
	<!--[if lte IE 8]>
	  <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	  <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/grids-responsive-min.css">
	<!--<![endif]-->

	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.BASE_PATH }}/feed.xml">
</head>
<body>

	{{ content }}
	
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
	<script>
      var navigation = responsiveNav(".nav-collapse", {
        insert: "before"
      });
	</script>
</body>
</html>
