<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" href="http://www.aubertguitars.com/favicon.ico?v=2" />
	<meta name="description" content="Friendly and efficient guitar services in the Worcester Park, Sutton, Kingston and Wimbledon area. Electric, acoustic, classical and bass guitars all welcome.">
	<meta name="author" content="{{ site.author.name }}">

	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--  styles -->
	<link href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/responsive-nav.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/tables.css" rel="stylesheet">
	<script src="{{ site.BASE_PATH }}/assets/js/responsive-nav.js"></script>

	<!-- Photoswipe CSS and JS for Gallery -->
	{% if page.gallery %}
	<link href="{{ site.BASE_PATH }}/assets/css/photoswipe.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/default-skin.css" rel="stylesheet">
	<script src="{{ site.BASE_PATH }}/assets/js/photoswipe.js"></script>
	<script src="{{ site.BASE_PATH }}/assets/js/photoswipe-ui-default.js"></script>
	{% endif %}




	<!-- Pure Grid -->
	<!-- <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/grids-core-min.css"> -->
	<!--[if lte IE 8]>
	  <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	  <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/grids-responsive-min.css">
	<!--<![endif]-->

	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.BASE_PATH }}/feed.xml">
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-77683252-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>

	{{ content }}
	
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
	{% if page.gallery %}
	<script src="{{ site.BASE_PATH }}/assets/js/aubertguitars-photoswipe.js"></script>
	{% endif %}
	<script>
      var navigation = responsiveNav(".nav-collapse", {
        insert: "before"
      });
	</script>
	<script type="text/javascript" src="https://d3cir4unl8h07a.cloudfront.net/assets/embed.js"></script>
</body>
</html>
