<div class="pure-g footer-container">
	<div class="line-break-2"></div>
	<div class="pure-u-sm-1 footer-ul">
		<ul>
			<a href="/"><li>Home</li></a>
			<a href="/about.html"><li>About</li></a>
			<a href="/priceguide.html"><li>Price List</li></a>
			<a href="/gallery.html"><li>Gallery</li></a>
			<a href="/contact.html"><li>Contact</li></a>
			<a href="/workshop.html"><li>Workshop & Courses</li></a>
		</ul>
	</div>
	<div class="pure-u-sm-1 copyright">
		<small>© Copyright 20{{ site.time | date: '%y' }}, Puzzle Paths. Terms and conditions apply.</small>
	</div>
</div>	