<!-- navbar.html -->
<div class="pure-g navbar-container">
	<div class="pure-u-lg-1-4 nav-logo">
		<a href="/">
			<img class="navbar-logo-img" src="{{ site.BASE_PATH }}/assets/media/puzzlepaths-logo-1.png" alt="">
		</a>
	</div>
	<div class="pure-u-lg-3-4 nav-flex">
		<nav class="nav-collapse">
			<div class="box">
				<p class="navbar-p"><a href="{{ site.baseurl }}/how-to-play.html">How to play</a></p>
			</div>
			<div class="box">
				<p class="navbar-p"><a href="{{ site.baseurl }}/buy-now.html">Buy Now</a></p>
			</div>		
			<div class="box">
				<p class="navbar-p"><a href="{{ site.baseurl }}/faq.html">FAQs</a></p>
			</div>	
			<div class="box">
				<p class="navbar-p"><a href="{{ site.baseurl }}/contact.html">Contact</a></p>
			</div>	
		</nav>
	</div>
</div>