@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

@font-face {
font-family: Avenir-Book;
src: url(/assets/resources/fonts/Avenir-Book.eot); /*ye n IE5-8 */
src: local(Avenir-Book), url(/assets/resources/fonts/Avenir-Book.ttf);
}

@font-face {
font-family: Avenir-Light;
src: url(/assets/resources/fonts/Avenir-Light.eot); /*ye n IE5-8 */
src: local(Avenir-Light), url(/assets/resources/fonts/Avenir-Light.ttf);
}

@font-face {
font-family: Avenir-Medium;
src: url(/assets/resources/fonts/Avenir-Medium.eot); /*ye n IE5-8 */
src: local(Avenir-Medium), url(/assets/resources/fonts/Avenir-Medium.ttf);
}

@font-face {
    font-family: Avenir-Heavy;
    src: url(/assets/resources/fonts/Avenir-Heavy.eot); /*ye n IE5-8 */
    src: local(Avenir-Heavy), url(/assets/resources/fonts/Avenir-Heavy.ttf);
}

html,body {
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    overflow-x: hidden; 
}

body {
    font-size:16px;
    margin:0px;
    font-family: Avenir-Medium, Helvetica, sans-serif;
}


/*HELPER*/
.position-relative {
    position: relative;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*NAVBAR*/
.navbar-container {
    z-index: 2000;
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgba(0,0,0,1);
}

.navbar-p {
    font-family: Avenir-book, sans-serif ;
}

.navbar-p a {
    color: #E4E4E4;
    text-decoration: none;
}

.box {
    display:inline-block;
    margin-right:5%;
}

.nav-flex {
    float:right;
    text-align:right;
    padding-top:9px;
}



/*HOMEPAGE*/
.block-container {
    padding-bottom: 70px;
}

.homepage-hero {
    background-image: url("/assets/media/guitar8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
/*    min-height: 110vh;
    max-height: 120vh;*/
    padding-top: 63px;
}

.homepage-title {
    color: white;
    font-family: Avenir-heavy;
    text-align: center;
    margin-top: 180px;
    text-transform: uppercase;
    letter-spacing: 7px!important;
    font-size: 1.4em;
}

.homepage-subtitle {
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.line-break-container {
    text-align: center;
    margin: auto auto;
}

.line-break {
    border-bottom: 1px solid gray;
    width: 20%;
    margin: auto;
}

.homepage-paragraph {
    color: white;
    text-align: center;
}

.homepage-button-container {
    text-align: center;
    z-index: 1000;
}

.homepage-hero-button {
    color: white;
    border: 1px solid white;
    margin:20px 0px;
    width: 15%!important;
    text-align: center;
    padding: 11px;
    display: inline-block;
    position: relative;
    z-index: 1000;
    min-width: 75px;
}

.homepage-hero-button:hover {
    cursor: pointer; 
    opacity: 0.65;
}

.homepage-central-button {
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 11px;
    display: inline-block;
    position: relative;
    z-index: 1000;
    min-width: 150px;
}

.homepage-central-button:hover {
    cursor: pointer; 
    opacity: 0.65;
}

.central-button-container {
    text-align: center;
}

.central-button-container a {
    display:inline-block;
    margin:30px auto 44px auto;
    /*width:15%;*/
}

.left-button {
    margin-right: 19px;
}

.right-button {

}

.triangle:before, .triangle:after {
    content:'';
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 0;
    border-bottom: solid 176px white;
}

.triangle:before {
    transform: translateX(-100%);
    border-right: solid 1000px transparent;
}

.triangle:after {
    border-left: solid 1000px transparent;
    max-width: 100%;

}

.homepage-usps {
    text-align: center;
    margin:0px -2px;
}

.usps-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.usps-img {
    font-size: 5em;
    color:#86725A;
}

.iframe-map {
    width: 100%;
    height: 480px;
}

.map-overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}

.location-text {
    text-align: center;
    padding-bottom: 30px;
}

.line-break-2 {
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
    width: 20%;
    margin: auto;
    opacity: 0.5;
}

#homepage-map {
    height:400px;
    width: 100%;
}

.quotes {
    background-color: #f5f5f5;
}

.quotes-inner {
    max-width: 1000px:
    margin: 0 auto;
    padding: 3em 0;

}

.quotes-feature {
    padding:0;
    margin:0;
    list-style:none;
    float: left!important;
}

.quotes-text-container {
    padding: 20px 20px 10px 20px;
    border-radius: 40px;
    background-color: white;
    margin-bottom: 50px;
    margin-right: 20px;

}

.quotes-author {
    font-style: italic;
    color: #737272;
}

.quotes-text-container:after {
    /*top: 100%;*/
    left: 18%;
    top:56px;
    border:solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: relative;
    border-top-color: white;
    border-width: 30px;
    margin-left: -30px;
}

.quotes-title {
    font-size:1.6125em;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #000000;
    text-align: center;
    margin-bottom: 26px;
} 

.gallery-container {
    background-color: #F7F6F6;
}

.gallery-img {
    margin: 0px -2px;
    max-width: 100%;
}

.block-button {
    display: block!important ;
    margin: 30px auto 44px auto ;
}

.black-button {
    color: black!important;
    border: 1px solid black!important ;
}
.workshop-container {
}

.workshop-img {
    max-height: 100px;
}

.workshop-bg-img {
    background-image: url("/assets/media/workshop-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 371px;
}


/*footer*/
.footer-container {
    padding-top: 30px;
}

.footer-ul ul {
    text-align: center
}

.footer-ul ul li {
    display: Inline-block;
    margin: 0px 2%;
    color: gray;
    opacity: 0.9;
}

.footer-ul ul li:hover {
    color: black;
    cursor: pointer;
}

.copyright {
    text-align: center;
    color: gray;
    opacity: 0.7;
    margin-top: 12px;
}


/*General Other Pages*/
.title-container {
    margin-top: 83px;
    text-align: center;
    background-image: url("/assets/media/guitar8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
}

.title-container h1 {
    padding-top: 50px;
    color: white;
}



/*Price List Page*/
.price-table-container {
    text-align: center;
}

.price-guide-p {
    margin-top: 60px;
}

.price-table {
    display: inline-block;
    margin-bottom: 40px;
}

.price-table tbody {
    text-align: left;
}

/*Gallery*/

.my-gallery {
    margin-top: 30px;
}

.my-gallery figure {
    width: 33%;
    display: inline-block;
    margin: 0px;
    text-align: center;
    margin-top: 40px;
}

.my-gallery img {
    max-width: 80%;
}

/*About*/
.page-container {
    margin-top: 60px;
    padding: 0px 10%;
}

.about-img-container {
    background-image: url('/assets/media/workshop-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 30%!important;
    margin-right: 15px;
    margin-bottom: 30px;
}

/*Contact*/
.contact-address, .contact-phone {
    text-align: center;
}

.contact-address {
    margin-top: 40px;
    margin-bottom: 20px;
}

#contact-map {
    height:400px;
}

/*Workshop*/
.workshop-container {
    text-align: center;
}

/*MEDIA QUERIES*/

/*where 3 across becomes 1 */
@media screen and (max-width: 1023px){
    .homepage-usps:nth-child(-n+2){
        margin-bottom: 30px;
    }

    .price-table td:nth-child(2){
        width: 30%;
    }

    .my-gallery figure {
        width: 100%;
    }

    .about-img-container {
        display:none;
    }
}

/*LESS THAN MD = 768px */
@media screen  and (max-width: 767px) {
    .gallery-img:nth-child(1){
        display:none;       
    }

    .gallery-img:nth-child(3){
        display:none;       
    }
    .footer-ul ul {
        display:none;
    }

    .line-break-about {
        margin:25px auto;
    }

    .homepage-hero {
        height: 688px;
        /*opacity: 0.1;*/
    }
}

/*MORE THAN MD = 768px */
@media screen  and (min-width: 768px) {
    .about-text-2 {
        margin-top: 40px;
    }

    .about-text-2-p {
        width:100;
        margin:auto;
    }

    .about-text-1 p {
        margin-top:0px!important;
    }



}

/*Navbar hamburger*/
@media screen and (max-width: 1058px) {
    .box {
        display: block;
        border-bottom: 1px solid rgba(128, 128, 128, 0.38);
        text-align: left;
    }

    .box:nth-child(1) {
        margin-top: 70px;
    }

    .nav-flex {
        float: right;
        width: 100%!important;
        text-align: right;
        padding-right: 62px;
    }

    .nav-toggle {
        color: white;
        font-size: 1.5em;
    }

    .nav-logo {
        width: 50%;
        position: absolute;
    }

    .nav-collapse-0 {
        width: 100%;
        padding-left: 68px;
    }

    .navbar-container {
        min-height: 66px;
    }

    .homepage-title h1 {
        font-size: 1.5em;
    }


}
